@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: clamp(15px, -0.875rem + 8.333vw, 22px);
  color: #e0e0e0;
  font-family: "Fanwood Text", serif;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #7e7575;
  width: 100%;
}
a {
  text-decoration: none;
  font-size: clamp(18px, -0.875rem + 8.333vw, 25px);
}
.header {
  position: absolute;
  display: flex;
  width: 90%;
  padding: 15px;
  flex-direction: row;
  background-color: #e0e0e0;
  border-radius: 60px;
  margin: 15px 5%;
  box-shadow: 5px 5px 15px white;
}
.divvh {
  margin: 7px 0 0 20px;
  align-self: flex-start;
}
.q {
  color: black;
}
.n {
}
button {
  color: black;
}
.divth {
  display: flex;
  position: relative;
  left: 72%;
  justify-self: flex-end;
  align-items: center;
  gap: 70px;
}
.nav {
  width: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
#navimg {
  width: 1500px;
}
.divn {
  display: flex;
  padding-top: 120px;
}
.b {
  width: 300px;
  color: #f3eeee;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50px;
  bottom: 50px;
  gap: 20px;
}
form {
  display: flex;
  gap: 20px;
}
.arti {
  padding-left: 15%;
  display: flex;
  gap: 270px;
  padding-top: 15px;
}
.artid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artip {
  display: flex;
  flex-direction: column;
  padding: 15px 10%;
  position: relative;
}
.imginatri {
  width: 1500px;
  position: absolute;
}
#divpo {
  position: relative;
  top: 400px;
  left: 5%;
}
.u {
  width: 100%;
  position: relative;
}
#popular {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  font-size: clamp(40px, -0.875rem + 8.333vw, 70px);
  top: 350px;
  text-shadow: 5px 5px 5px rgb(131, 126, 126);
}
#divdk {
  display: flex;
  gap: 30px;
}
.dk {
  background-color: rgba(87, 83, 83, 0.6);
  max-width: 20%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
  padding: 15px;
}
/* .imgfit {
  margin: 70px 0 0 10px;
  padding: 5px;
  background-color: #000000;
  border-radius: 100%;
  box-shadow: 5px 5px 5px black;
} */
/* .footer {
  display: flex;
  flex-direction: row;
  background-color: #bd2828;
  border-radius: 60px;
  margin: 15px 5%;
  box-shadow: 5px 5px 15px rgb(210, 49, 49);
} */
